*{
    box-sizing: border-box;
}
.home{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 50px;
    gap: 30px;
    font-family: Roboto;
}
.left-section{
    /* background-color: aliceblue; */
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}
.left-section .upper-section{
    /* background-color: yellowgreen; */
    height: 60%;
    display: flex;
    gap: 30px;
    

}
.left-section .upper-section .upper-left{
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}
.left-section .upper-section .upper-left .user-profile{
    background-color: #5746EA;
    height: 60%;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    gap: 20px;
    color: white;
    /* justify-content: space-between; */
    
}
.user-profile::-webkit-scrollbar{
    display: none;
}

.user-profile::-webkit-scrollbar-thumb {
    display: none;
}

.user-profile .user-name, .user-profile .user-email{
    font-size: 15px;
    margin: 5px 0;
}
.user-profile .user-username{
    font-size: 30px;
}








.left-section .upper-section .upper-left .weather{
    background-color: #101744;
    height: 40%;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
}
.date-and-time{
    background-color:#FF4ADE;
    padding:5px;
    font-size:30px;
    display:flex;
    gap:20px;
    justify-content:center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.live-weather{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100%;
    /* border: 2px solid red; */
}
 
.live-weather span{
    text-align: center;
}
.live-weather .vertical-line{
    border:2px solid white;
    height: 30px;
    width:0;
}












.left-section .upper-section .upper-right{
    background-color: #F1C75B;
    width: 50%;
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;
}

.upper-right h2{
    margin: 10px;
    font-size: 25px;
}
.upper-right textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 15px;
    background: none;
    padding:10px;
    padding-bottom: 30px;
    
}

.upper-right textarea::-webkit-scrollbar {
    width: 12px; /* Adjust the scrollbar width */
    
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .upper-right textarea::-webkit-scrollbar-thumb {
    background-color: #FFE6A6; /* Change the thumb color */
    border-radius: 8px; /* Round the edges of the thumb */
    
  }
  
  /* Style the scrollbar track (the area behind the thumb) */
  .upper-right textarea::-webkit-scrollbar-track {
    background-color: none; /* Change the track color */
    margin-bottom: 30px;
  }

.left-section .lower-section{
    background-color: #1E2343;
    height: 40%;
    border-radius: 15px;

}




.right-section{
    background-color: white;
    width:35%;
    border-radius: 15px;

}
.news-image{
    position: relative;
    height: 70%;
    border-radius: 15px;
}
.news-image img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.news-headline{
    position: absolute;
    bottom:0%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    
    font-size: 25px;
    padding: 20px;
}
.news-description{
    padding: 30px;
    font-size: 15px;
}